<!DOCTYPE html>
<html lang="ja">
<head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <h3>Tweet詳細</h3>
                <div class="camera4">
                    <p><%= @camera.created_at %></p>
                </div>

            <%= link_to "一覧に戻る", cameras_path %>
        </div>

    </body>
</html>